.pagination {
  @apply flex justify-center items-center gap-10 pb-24;
}

.pagination span {
  @apply relative after:w-[1.5rem] after:h-[0.06rem] after:bg-black after:absolute after:bottom-[-0.1rem] after:left-[-0.5rem] first:after:hidden last:after:hidden cursor-pointer;
  font-size: toRem(14);
}

.pagination span.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination span.activePage {
  font-weight: bold;
}