.mainWrapper {
    @apply max-w-[56rem] mx-auto p-5;
    margin-top: toRem(90);
}

.details {
    @apply flex justify-between gap-5;

    img {
        @apply object-contain rounded-full
    }

    &__container {
        @apply flex-1 fcol;
    }

    &__label {
        @apply w-full text-start;
        font-size: toRem(10);
    }
}

.twoInputContainer{
    @apply flex justify-between gap-5 pt-3;

    label {
        font-size: toRem(10);
    }
}