.mainWrapper {
    @apply max-w-[56rem] mx-auto p-5;
    margin-top: toRem(90);
    font-family: 'SF Pro Display';
}

.menuWrapper {
    @apply flex gap-3;
}

.detailsWrapper {
    @apply rounded-lg border shadow-md flex-1
}

.forgotPassWrapper {
    @apply grid grid-cols-1 w-full h-dvh p-2;
}

.loginWrapper,
.registerWrapper {
    @apply grid grid-cols-2 gap-2 w-full h-dvh p-2;
}

.imgWrapper {
    @apply size-full max-h-full relative;

    img {
        @apply object-contain max-h-full;
    }
}

.formContainer {
    @apply flex items-start justify-center flex-col w-full max-w-[30rem] mx-auto text-[0.8rem] relative;


    h1 {
        @apply text-[0C1421] text-[2rem] font-[500] w-full text-center;
    }

    .subHeader {
        @apply my-6 font-normal text-center w-full;
    }

    form.forgotPasswordForm {
        @apply w-full;

        input {
            @apply mb-3;
        }

    }
}

.forgot {
    @apply text-[#1E4AE9] font-normal text-end;

    span {
        @apply cursor-pointer
    }
}

.signInBtn {
    @apply bg-[#162D3A] text-white w-full flex items-center justify-center py-3 mt-4 rounded-lg;
}

.or {
    @apply text-[0.8rem] text-[#8897AD] font-[300];
}

.dontHaveAccount {
    @apply w-full text-center text-[0.8rem] text-[#8897AD] font-[300] mt-4;

    span {
        @apply text-[#1E4AE9] font-normal ml-3;
    }
}

.copyright {
    @apply text-[0.8rem] text-[#8897AD] font-[300] w-full text-center;
}

@media screen and (max-width: 768px) {

    .loginWrapper,
    .registerWrapper {
        @apply grid-cols-1;
    }

    .formContainer {
        @apply order-1
    }

    .imgWrapper {
        height: 10rem;

        img {
            @apply object-cover rounded-lg object-center;
        }
    }
}

.addressWrapper,
.profileWrapper {
    @apply p-3 py-6;
}

.btnContainer {
    @apply flex gap-3 justify-center mt-5;

    button:first-child {
        @apply bg-[#eeeeee] text-gray-800 flex items-center justify-center px-4 py-2 rounded-lg text-[0.8rem];
    }

    button:last-child {
        @apply bg-[#162D3A] text-white flex items-center justify-center px-4 py-2 rounded-lg text-[0.8rem];
    }
}

.addressWrapper {
    @apply flex flex-col gap-2;
    font-family: "SF Pro Display";

    .addressContainer {
        @apply flex-1 flex flex-col;

        div {
            font-size: toRem(11);
        }

        div:nth-child(2) {
            font-weight: 600;
            font-size: toRem(14);
        }

        div:nth-child(3) {
            @apply flex gap-[0.5rem] pt-2;

            >* {
                @apply px-[1rem] py-[0.2rem] rounded-sm;
                background-color: var(--bg-secondary);
                color: var(--color-primary);
                font-weight: 500;
                font-size: toRem(12);
                line-height: toRem(12);
            }
        }
    }

    .activeAddress {
        background-color: var(--color-primary) !important;
        color: var(--white-color) !important;
    }
}