.mainWrapper {
    @apply max-w-[56rem] mx-auto p-5;
    margin-top: toRem(90);
    font-family: 'SF Pro Display';
}

.menuWrapper {
    @apply flex gap-3;
}

.detailsWrapper {
    @apply rounded-lg border shadow-md flex-1
}

.forgotPassWrapper {
    @apply grid grid-cols-1 w-full h-dvh p-2;
}

.loginWrapper,
.registerWrapper {
    @apply grid grid-cols-2 gap-2 w-full h-dvh p-2;
}

.imgWrapper {
    @apply size-full max-h-full relative;

    img {
        @apply object-contain max-h-full;
    }
}

.formContainer {
    @apply flex items-start justify-center flex-col w-full max-w-[30rem] mx-auto text-[0.8rem] relative;


    h1 {
        @apply text-[0C1421] text-[2rem] font-[500] w-full text-center;
    }

    .subHeader {
        @apply my-6 font-normal text-center w-full;
    }
}

.forgot {
    @apply text-[#1E4AE9] font-normal self-end;
}

.signInBtn {
    @apply bg-[#162D3A] text-white w-full flex items-center justify-center py-3 mt-4 rounded-lg;
}

.or {
    @apply text-[0.8rem] text-[#8897AD] font-[300];
}

.dontHaveAccount {
    @apply w-full text-center text-[0.8rem] text-[#8897AD] font-[300] mt-4;

    span {
        @apply text-[#1E4AE9] font-normal;
    }
}

.copyright {
    @apply text-[0.8rem] text-[#8897AD] font-[300] w-full text-center;
}

@media screen and (max-width: 768px) {

    .loginWrapper,
    .registerWrapper {
        @apply grid-cols-1;
    }

    .formContainer {
        @apply order-1
    }

    .imgWrapper {
        height: 10rem;

        img {
            @apply object-cover rounded-lg object-center;
        }
    }
}