

.mainWrapper {
  @apply fixed top-[2rem] left-0 right-0 w-[60%] z-[9999] h-[90%] mx-auto bg-white rounded-lg p-10 overflow-auto;
}

.BG {
  @apply fixed top-0 left-0 size-full right-0 z-[9998];
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(toRem(2));
}

.header {
  @apply font-[800];
  font-size: toRem(20);
}