.products {
  &__item {
    @apply flex gap-5 py-5;

    img {
      @apply size-[5rem] cursor-pointer object-contain;
    }
  }

  &__textContainer {
    @apply gap-2 font-[400] text-black fcol;
    font-size: toRem(14);
  }
}

.products__item {

  .products__titleContainer,
  img {
    @apply cursor-pointer;
  }

  &.isCart {
    .products__titleContainer {
      @apply flex w-full justify-between;
    }

    .products__textContainer {
      @apply w-full cursor-pointer gap-1;
    }

    .products__variation {
      @apply w-full font-[300] uppercase;
      font-size: toRem(11);
    }
  }

  &.isSearch {
    .products__titleContainer {
      @apply fcol;
    }
  }
}

.quantityContainer {
  @apply flex items-center justify-between gap-3;
}

.addMinusContainer {
  @apply flex h-9 w-24 select-none items-center justify-evenly gap-1;
  border: toRem(1) solid rgba(0, 0, 0, 0.2);

  .qty {
    @apply font-bold;
  }

  svg {
    @apply size-3 opacity-25;
  }
}