.menuContainer {
    @apply flex flex-col;


    >span {
        @apply font-[400] cursor-pointer pt-3 px-4 text-black;
        border-bottom: toRem(1) solid rgba(0, 0, 0, 0.2);
        height: toRem(60);
        font-size: toRem(25);
        text-decoration: none;
    }
}

.supportContainer {
    @apply flex justify-between items-center px-4;
    border-bottom: toRem(1) solid rgba(0, 0, 0, 0.2);


    >span {
        @apply font-[400] cursor-pointer pt-3 text-black;
        height: toRem(60);
        font-size: toRem(25);
        text-decoration: none;
    }
}

.supportMenu {
    @apply absolute top-0 bg-white w-dvw left-0 flex flex-col;

    >span {
        @apply font-[300] cursor-pointer pt-3 px-4 text-black;
        border-bottom: toRem(1) solid rgba(0, 0, 0, 0.2);
        height: toRem(60);
        font-size: toRem(25);
        text-decoration: none;

    }

}

.backContainer {
    @apply px-4 flex gap-5 items-center justify-start py-5 text-black;
}

.loginBtn {
    @apply flex items-center justify-start gap-5;

    >span {
        @apply text-black;
    }
}

.drawerContainer {
    @apply fixed top-[2rem] left-0 bg-white w-full fcol justify-between px-5 pb-3 z-[9999];
    height: calc(100dvh - 3.6rem);

    &.notHome {
        height: calc(100dvh - 5.6rem);
    }

    @media screen and (max-width: 576px) {
        @apply px-2;
    }
}