.mainWrapper {
    @apply max-w-[56rem] mx-auto p-5;
    margin-top: toRem(90);
}

.cartWrapper {
    @apply grid grid-cols-2 pt-5;
}

.section {
    &__title {
        @apply flex justify-between uppercase tracking-wide;
        font-size: toRem(12);
        line-height: toRem(12)
    }

    &__productContainer {
        @apply flex gap-5 items-center justify-start;

        img {
            @apply size-[4rem] object-contain;
        }
    }

    &__textContainer {
        @apply fcol gap-1 uppercase;
        font-size: toRem(14);

        span:last-child {
            font-size: toRem(10);
        }
    }

    &__footer {
        @apply pt-10;

        @media screen and (max-width: 992px) {
            @apply pt-5;
        }
    }

    &__footerTitle {
        font-size: toRem(14);
    }

    &__addNotesContainer {
        @apply flex justify-between items-center pb-3;
    }
}

.section__productWrapper,
.section__quantityWrapper {
    @apply mt-5 fcol gap-5 py-5;
    border-block: toRem(1) solid rgba(0, 0, 0, 0.2);
}

.section__productContainer,
.quantityContainer {
    height: toRem(80)
}

.quantityContainer {
    @apply flex items-center justify-between;

    span:last-child {
        font-size: toRem(14)
    }

    @media screen and (max-width: 992px) {
        @apply justify-end
    }
}

.addMinusContainer {
    @apply flex gap-1 h-8 w-20 items-center justify-evenly select-none;
    border: toRem(1) solid rgba(0, 0, 0, 0.2);

    .qty {
        @apply font-bold;
        font-size: toRem(12)
    }

    svg {
        @apply opacity-25 size-2;
    }
}

.addNoteContainer {
    @apply mt-3;

    textarea {
        @apply w-full p-3;
        outline: toRem(1) solid rgba(0, 0, 0, 0.2);

        &:focus {
            outline: toRem(1) solid rgba(0, 0, 0, 1);
        }
    }
}

.checkbox {
    @apply flex gap-1;
    font-size: toRem(12);
}


.btn {
    @apply bg-black text-white w-full h-10 uppercase flex items-center justify-center tracking-widest font-bold mt-5;
    font-size: toRem(12);
}

.footerTxt {
    @apply mt-5 text-center;
    font-size: toRem(12);
}

.suggestionsContainer {
    @apply grid grid-cols-4 py-10;

    @media screen and (max-width: 992px) {
        @apply grid-cols-2
    }
}