.header {
  @apply flex items-center justify-between gap-5 p-3 px-6;
  border-bottom: toRem(1) solid rgba(0, 0, 0, 0.1);

  input::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  input,
  input:focus {
    font-size: toRem(16);
    color: black;
    height: toRem(35);
    outline: none;
  }

  input {
    @apply w-full;
  }

  svg {
    @apply size-[1.6rem] cursor-pointer;
  }
}

.suggestions {
  @apply items-start justify-center gap-4 p-5 px-7 text-black fcol;

  &__header {
    @apply font-[600] tracking-widest;
    font-size: toRem(12);
  }

  &__container {
    @apply flex w-full gap-3 overflow-x-auto;
  }

  &__item {
    @apply cursor-pointer rounded-full px-4 py-1 font-medium uppercase tracking-wide;
    border: toRem(1) solid rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in;
    font-size: toRem(12);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      @apply bg-black text-white;
    }
  }
}

.footer {
  @apply m-5 grid h-[3rem] cursor-pointer select-none place-content-center bg-black font-bold uppercase tracking-wider text-white;
  border-top: toRem(1) solid rgba(0, 0, 0, 0.1);
  font-size: toRem(12);
}

.productHeader {
  @apply w-full self-start py-4 text-center tracking-wider text-black;
  font-size: toRem(12);
}

.products {
  @apply max-h-[39rem] overflow-y-auto px-5 fcol flex-1;
  border-bottom: toRem(1) solid rgba(0, 0, 0, 0.1);
}
