
.pageTitle {
  @apply font-bold tracking-tight text-center py-[3rem] uppercase;
  font-size: toRem(30);

  &[data-medium="true"] {
    @apply py-[0.5rem] text-start;
    font-weight: 600
  }
}

.question {
  @apply mb-1 font-bold;
  font-size: toRem(12)
}

.answers {
  @apply list-disc mt-4;

  li {
    font-size: toRem(12);
    margin-bottom: toRem(10)
  }

  &[data-numbers="true"] {
    @apply list-decimal;
  }
}