.navbarWrapper {
    @apply gap-1 grid grid-cols-3 grid-rows-1 justify-items-center items-center px-[2rem] fixed w-full z-30 top-0;
    border-bottom: toRem(1) solid white;
    height: toRem(60);
    transition: all 0.3s ease-in;

    @media screen and (max-width: 576px) {
        @apply px-[1rem];
        grid-template-columns: 1fr 3fr 2fr;
    }
}

.background {
    @apply absolute bg-white top-0 left-0 h-full w-full z-[-1];
}

.leftBtnWrapper {
    @apply justify-self-start;
}

.rightBtnWrapper {
    @apply justify-self-end;
}

.leftBtnWrapper,
.rightBtnWrapper {
    @apply flex items-center justify-center gap-3;
    font-size: toRem(12);


    span {
        font-size: 500;
        position: relative;
        text-decoration: none;
        cursor: pointer;
    }

    span::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: toRem(1);
        background-color: black;
        transition: width 0.3s ease;
    }

    span:hover::before {
        width: 100%;
    }
}

.navTitle {
    @apply font-bold tracking-wider whitespace-nowrap cursor-pointer;
    font-size: toRem(20);
}

.mobileBtnWrapper {
    @apply justify-self-start cursor-pointer;
}

.supportContainer {
    @apply flex items-center justify-center gap-1;


}

.dropdownMenu {
    @apply absolute left-[13rem] top-[4rem] bg-white text-black p-4 py-8 shadow-xl w-[15rem] grid gap-3;

    >span {
        @apply font-bold w-fit cursor-pointer;
        font-size: toRem(12)
    }
}

.loginBtn {
    @apply flex justify-center items-center gap-3 ml-4;

    @media screen and (max-width: 992px) {
        @apply hidden;
    }
}

.cartIcon {
    @apply before:hidden relative;

    span {
        @apply absolute top-[-0.3rem] right-[-0.6rem] bg-black text-white size-[1rem] rounded-full flex items-center justify-center p-1 text-[0.4rem] before:hidden
    }
}