.header {
  @apply p-3 px-6 flex justify-between items-center gap-5;
  border-bottom: toRem(1) solid rgba(0, 0, 0, 0.1);
  height: toRem(50);

  span {
    @apply w-full uppercase tracking-widest font-bold;
    font-size: toRem(12);
    color: black;
    outline: none
  }

  svg {
    @apply size-[1.2rem] cursor-pointer;
  }
}

.products {
  @apply px-5 overflow-y-auto fcol;
  border-bottom: toRem(1) solid rgba(0, 0, 0, 0.1);
  height: calc(100dvh - toRem(270));
}

.addNoteContainer {
  @apply flex justify-between px-4 py-3 font-[400] text-black select-none;
  font-size: toRem(12);
  border-bottom: toRem(1) solid rgba(0, 0, 0, 0.1);

  svg {
    @apply cursor-pointer;
  }
}

.footer {
  @apply py-4 px-6 fcol gap-3 items-center justify-center;

  span {
    @apply select-none;
  }

  >* {
    font-size: toRem(12);
    color: black
  }

  &__checkbox {
    @apply flex items-center justify-center gap-1;
    input {
      @apply cursor-pointer
    }
  }
}

.note {
  @apply absolute bottom-0 bg-white w-full p-8 fcol gap-4 z-auto;
  height: toRem(270);
  font-size: toRem(12);

  span {
    @apply font-[400] uppercase;
    color: rgba(0, 0, 0, 0.8);
  }

  textarea {
    @apply p-1;
    height: toRem(100);
    outline: toRem(1) solid rgba(0, 0, 0, 0.2);
  }
}

.noteBG {
  @apply w-[30rem] h-dvh fixed top-0 right-0 z-0;
  background-color: rgba(0, 0, 0, 0.4);

  @media screen and (max-width: 576px) {
    @apply w-[25rem];
  }

  @media screen and (max-width: 430px) {
    @apply w-[18rem];
  }
}


.btn {
  @apply bg-black text-white w-full h-10 uppercase flex items-center justify-center tracking-widest font-bold cursor-pointer select-none;
}