.mainWrapper {
    @apply relative h-dvh bg-[url('/assets/images/main-bg.webp')] bg-center bg-cover bg-no-repeat;

    &:after {
        @apply absolute top-0 left-0 size-full;
        content: '';
        background: rgb(0, 0, 0, 0.3);
    }
}

.timelessContainer {
    @apply absolute top-[23rem] w-full text-white whitespace-nowrap text-lg uppercase z-10 fcol items-center justify-center;

    span:first-child {
        @apply text-[2.2rem] pb-5 font-bold;
    }

    div:last-child {
        @apply flex justify-center items-center gap-10 pt-12;
    }

    @media screen and (max-width: 576px) {
        span:first-child {
            @apply text-[1.5rem];
        }

        span:nth-of-type(2) {
            @apply text-[1rem];
        }
    }
}

.wrapper {
    max-width: 100%;
    overflow: hidden;
}

.wrapper {
    max-width: 100%;
    overflow: hidden;
}

.dudeWrapper {
    img {
        @apply object-contain size-full;
    }
}

.afterProductWrapper {
    @apply fcol justify-center items-center p-10;

    .header {
        @apply fcol self-start;

        span:first-child {
            font-size: toRem(40);
            font-weight: 600;
        }
    }

    @media screen and (max-width:576px) {
        @apply p-5;
    }
}

.marqueeWrapper {
    @apply overflow-hidden h-full py-10;

    div {
        @apply flex whitespace-nowrap uppercase font-bold;
        animation: marquee 5s linear infinite;
        font-size: toRem(60);
    }
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-50%, 0);
    }
}