.productContainer {
    @apply fcol items-center justify-start gap-4;
    height: toRem(300);

    img {
        @apply cursor-pointer
    }

    div {
        @apply fcol text-center;
    }
}

.textContainer {
    @apply fcol gap-1;

   .title {
        @apply uppercase cursor-pointer font-bold;
        font-size: toRem(16);
    }

    .avail {
        font-size: toRem(12);
        font-weight: 300;
    }
}

.colors {
    @apply flex gap-3 justify-center;
    flex-direction: row !important;

    span {
        @apply text-white rounded-full size-4;
        cursor: pointer !important;
    }
}