
.productContainer {
    @apply fcol items-center justify-center gap-4;
    height: toRem(300);

    div {
        @apply fcol text-center;
    }
}

.textContainer {
    @apply fcol gap-1;

    span:not(:last-child) {
        @apply uppercase;
        font-size: toRem(16);
    }

    span:last-child {
        font-size: toRem(12);
        font-weight: 300;
    }
}