.marquee {
    @apply relative w-dvw max-w-full overflow-hidden py-10;
    height: toRem(135);


}

.landing {
    @apply py-1 bg-black relative;
    height: toRem(40);

    .track {
        @apply text-white font-normal top-[0.8rem];
        font-size: toRem(12);
        line-height: toRem(12);
    }
}

.track {
    @apply absolute whitespace-nowrap text-black font-bold;
    font-size: toRem(60);
    line-height: toRem(60);
}