@import "@/styles/_helpers.scss";

.wrapper {
  table {
    @apply w-full border-collapse mt-3;
    border: toRem(1) solid rgba(0, 0, 0, 0.3);
    font-size: toRem(14);

    td,
    th {
      @apply px-3 py-3;
      border: toRem(1) solid rgba(0, 0, 0, 0.3)
    }
  }
}