.mainWrapper {
    @apply m-12;
    margin-top: toRem(120);

    @media screen and (max-width: 576px) {
        @apply m-6;
        margin-top: toRem(140);
    }
}

.productWrapper {
    @apply grid gap-10 my-10;
    grid-template-columns: 1.5fr 1fr;

    @media screen and (max-width: 992px) {
        @apply grid-cols-1;
    }
}

.productImgContainer {
    @apply size-full;

    img {
        @apply object-contain size-full;
    }
}

.descriptionContainer {
    @apply fcol justify-start items-start;

    h1 {
        @apply mb-2;
        font-size: toRem(28);
        line-height: toRem(28);
        font-weight: 600;
    }

    .price {
        font-weight: 500;
        font-size: toRem(20);
        line-height: toRem(20);
    }

    .shipping {
        @apply mt-3;
        color: rgba(0, 0, 0, 0.75);
        font-size: toRem(12);
        line-height: toRem(12);
        font-weight: 500;

        span {
            @apply underline-offset-4 underline
        }
    }

    .description {
        @apply mt-10;
        font-weight: 500;
        font-size: toRem(14);
        line-height: toRem(14);
    }
}

.sizeContainer {
    @apply flex gap-3 mt-2;

    >span {
        font-size: toRem(12);
        line-height: toRem(12);
    }

    span:first-child {
        @apply font-[500];
    }

    span:last-child {
        @apply capitalize font-semibold;
    }
}

.variations {
    @apply pb-4 pt-1 flex items-center justify-center;

    .variationItem {
        @apply py-2 cursor-pointer uppercase relative w-[5rem] text-center;
        font-size: toRem(10);
        line-height: toRem(10);
        border: toRem(1) solid rgba(0, 0, 0, 0.5);
        border-right: none;

        &:last-child {
            border-right: toRem(1) solid rgba(0, 0, 0, 0.5);
        }

        &.selected {
            @apply bg-black text-white
        }

        &.disabled {
            cursor: not-allowed;
            opacity: 0.6;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: toRem(1);
                background-color: rgba(0, 0, 0, 0.5);
                transform: rotate(-17deg);
                transform-origin: center;
            }
        }
    }
}

.quantityContainer {
    @apply flex items-center justify-evenly gap-5 mt-5 w-full;
}

.addMinusContainer {
    @apply flex gap-4 h-8 w-20 items-center justify-evenly select-none;
    border: toRem(1) solid rgba(0, 0, 0, 1);
    font-size: toRem(12);

    svg {
        @apply opacity-25 size-3 cursor-pointer;
    }
}

.addToCart {
    @apply flex h-8 items-center justify-center uppercase font-bold cursor-pointer flex-grow select-none;
    font-size: toRem(12);
    border: toRem(1) solid rgba(0, 0, 0, 1);
    transition: background-color 0.25s linear, color 0.25s linear;
}

.guideContainer {
    @apply flex gap-4 mt-10 flex-wrap;

    div {
        @apply flex gap-1 items-center justify-center;

        span {
            @apply underline underline-offset-4 pl-1 cursor-pointer;
            font-size: toRem(12);
        }
    }
}