.checkoutWrapper {
  @apply mt-[3rem];

  .titleContainer {
    @apply flex flex-col items-center justify-center;

    h1 {
      @apply text-center text-[2rem] font-bold uppercase tracking-wide;
    }

    span {
      @apply text-gray-500;
    }
  }
}

.detailsContainer {
  @apply mx-[1rem] mt-[2rem] grid grid-cols-2 gap-[5rem];
}

.right {
  @apply bg-gray-100 p-[1.5rem];

  .header {
    @apply mb-[1rem] flex items-center justify-between;

    h1 {
      @apply text-xl font-semibold;
    }

    span {
      @apply text-xs uppercase underline;
    }
  }

  .details,
  .total {
    @apply mb-[1rem];
  }

  .details {
    div {
      @apply flex justify-between;
      font-size: toRem(12);
    }
  }

  .total {
    @apply flex justify-between text-lg font-bold;
  }

  .voucher {
    @apply flex items-center justify-start gap-1;

    span {
      @apply text-xs font-semibold uppercase underline;
    }
  }

  .checkoutProducts {
    @apply flex flex-col gap-5;

    .product {
      @apply flex items-center justify-start gap-3;

      img {
        @apply size-[6rem] object-cover;
      }

      .productDetails {
        @apply flex flex-col;

        span {
          @apply text-[0.8rem];

          &:nth-child(1),
          &:nth-child(2) {
            @apply font-normal text-gray-700;
          }

          &:nth-child(3),
          &:nth-child(4) {
            @apply font-light text-gray-500;
          }
        }
      }
    }
  }
}

.addressContainer,
.methodContainer {
  @apply border border-slate-200 p-4;
}

.addressContainer {
  div:first-child,
  div:nth-child(2) {
    @apply flex items-center justify-between font-bold;
  }

  div:first-child {
    @apply mb-[0.7rem];
  }

  div:nth-child(2) {
    @apply mb-[0.5rem];
  }

  div:last-child {
    @apply text-gray-500;
  }

  &.isModal {
    @apply mb-[1rem] text-sm;
  }
}

.selected {
  @apply border-slate-600;
}
.left {
  .payment {
    @apply my-4 text-xl font-bold;
  }
}

.paymentMethods {
  @apply gap-3 fcol;
}

.methodContainer {
  @apply flex items-center justify-between;

  div:first-child {
    @apply font-bold;
  }

  div:last-child {
    @apply flex items-center;

    div {
      @apply gap-3 bg-gray-100 px-1;

      > * {
        @apply size-[1.3rem];
      }
    }
  }
}

.placeOrderBtn {
  @apply my-5 mt-10 w-full rounded-sm bg-gray-900 py-3 text-center text-lg font-bold uppercase tracking-widest text-white;
}
