.checkoutWrapper {
    @apply mt-[3rem];

    .titleContainer {
        @apply flex flex-col justify-center items-center;

        h1 {
            @apply text-center text-[2rem] font-bold uppercase tracking-wide;
        }

        span {
            @apply text-gray-500;
        }
    }
}

.detailsContainer {
    @apply grid grid-cols-2 gap-[5rem] mt-[2rem] mx-[1rem];
}

.right {
    @apply bg-gray-100 p-[1.5rem];

    .header {
        @apply flex justify-between items-center mb-[1rem];


        h1 {
            @apply font-semibold text-xl;
        }

        span {
            @apply uppercase underline text-xs
        }
    }

    .details, .total {
        @apply mb-[1rem];
    }

    .details {
        div {
            @apply flex justify-between;
            font-size: toRem(12)
        }
    }

    .total {
        @apply flex justify-between font-bold text-lg;
    }

    .voucher {
        @apply flex justify-start items-center gap-1;

        span {
            @apply underline uppercase font-semibold text-xs
        }
    }

    .checkoutProducts {
        @apply flex-col flex gap-5;

        .product {
            @apply flex justify-start items-center gap-3;

            img {
                @apply size-[6rem] object-cover;
            }

            .productDetails {
                @apply flex flex-col;

                span {
                    @apply text-[0.8rem];

                    &:nth-child(1),
                    &:nth-child(2) {
                        @apply text-gray-700 font-normal;
                    }

                    &:nth-child(3),
                    &:nth-child(4) {
                        @apply text-gray-500 font-light;
                    }
                }
            }
        }

    }
}


.addressContainer {
    @apply border border-slate-200 p-4;

    div:first-child,
    div:nth-child(2) {
        @apply flex justify-between items-center font-bold;
    }

    div:first-child {
        @apply mb-[0.7rem]
    }

    div:nth-child(2) {
        @apply mb-[0.5rem]
    }

    div:last-child {
        @apply text-gray-500;
    }

    &.isModal {
        @apply text-sm mb-[1rem];
    }
}

.left {
    .payment {
        @apply text-xl font-bold my-4;
    }
}