
.footerContainer {
    @apply relative bg-[#151515] text-white p-6 py-12;
    grid-template-columns: 1fr 3fr;

    h2 {
        @apply pb-5;
        font-size: toRem(14) !important;
        font-weight: 500;
    }
}

.footerWrapper {
    @apply flex gap-5 pb-7 container;


    div:first-child {
        width: toRem(300);

        h2 {
            @apply flex justify-between items-center;
        }
    }

    @media screen and (max-width: 576px) {
        @apply flex-col;

        div:first-child {
            width: auto;
        }
    }
}

.menuContainer {
    @apply fcol  gap-3;
    font-weight: 300;
    font-size: toRem(12);

    span {
        @apply cursor-pointer
    }
}

.socmedContainer {
    @apply flex gap-5;

    svg {
        @apply size-[1rem];
    }
}

.dropdownContainer {
    @apply flex gap-4 pb-5 relative;

    .dropdown {
        @apply flex items-center justify-center gap-1 border-2 p-2 px-3 relative;
        border: toRem(0.3) solid rgba(255, 255, 255, 0.15);
        font-size: toRem(12);
    }

    .options {
        @apply absolute top-[2.5rem] fcol gap-1 overflow-y-auto w-full text-center bg-white;
        max-height: toRem(130);

        >span {
            @apply bg-white text-black p-1 px-2 shadow-md;
        }

        @media screen and (max-width: 576px) {
            @apply top-[-8.4rem]
        }
    }
}

.tradeMark {
    color: rgba(255, 255, 255, 0.7);
    font-size: toRem(10);
}

.plusIcon,
.minusIcon {
    @media screen and (min-width: 992px) {
        @apply hidden;
    }
}