.productContainer {
    @apply fcol items-center justify-start gap-4;

    img {
        @apply cursor-pointer size-[6rem] rounded-sm; 
    }

    div {
        @apply fcol text-center;
    }
}

.textContainer {
    @apply fcol gap-1;

   .title {
        @apply uppercase cursor-pointer font-bold;
        font-size: toRem(14);
    }

    .avail {
        font-size: toRem(10);
        font-weight: 300;
    }
}

.colors {
    @apply flex gap-3 justify-center;
    flex-direction: row !important;

    span {
        @apply text-white rounded-full size-4;
        cursor: pointer !important;
    }
}