.mainContainer {
    @apply fixed top-[10rem] left-0 right-0 w-[40rem] z-[9999] h-[60%] mx-auto bg-white text-black p-5 py-10 rounded-md flex justify-between items-center gap-5;


    .imgCover {
        @apply object-cover object-center h-full max-w-[15rem] w-full rounded-md;

    }

    @media screen and (max-width: 976px) {
        @apply h-auto;

        .imgCover {
            @apply hidden;
        }
    }

    @media screen and (max-width: 700px) {
        @apply w-[90%] mx-auto;
    }
}

.login {
    @apply fcol items-start flex-1;

    img {
        @apply self-center object-contain size-[7rem];
    }

    span {
        @apply whitespace-nowrap;
        font-size: toRem(12);
    }

    &__header {
        @apply pb-3 font-bold;
        font-size: toRem(18) !important;
    }

    &__sub {
        @apply mb-5 font-[400];
    }

    &__label {
        font-size: toRem(10);
    }

    input {
        @apply h-6 mt-1 w-[100%] p-1 px-2 rounded-[0.25rem];
        border: toRem(1) solid #202223;

        &:focus {
            outline: toRem(1) solid #1879b9
        }
    }

}

.googleBtnContainer {
    @apply flex items-center justify-center gap-2 p-2 mt-4 rounded-md shadow-lg;
    font-size: toRem(14);
    border: toRem(1) solid rgba(0, 0, 0, 0.15);
    font-weight: 800;

    img {
        @apply size-[1.5rem]
    }
}

.closeBtn {
    @apply absolute top-3 right-3
}

.BG {
    @apply fixed top-0 left-0 size-full right-0 z-[9998];
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(toRem(2));
}


.btn {
    @apply bg-[#1879b9] text-white w-full flex items-center justify-center py-3 mt-4 rounded-sm;
}