.mainWrapper {
    @apply p-5;
    margin-top: toRem(90);
}

.filterContainer {
    @apply flex justify-between;


    div {
        @apply flex items-center gap-3;
        font-size: toRem(13);
    }

    @media screen and (max-width: 992px) {
        .sort {
            @apply hidden
        }
    }
}

.productWrapper {
    @apply grid grid-cols-5;

    @media screen and (max-width: 992px) {
        @apply grid-cols-2;
    }

    @media screen and (max-width: 576px) {
        @apply grid-cols-1;
    }
}

.pagination {
    @apply flex justify-center items-center gap-10;

    >span {
        @apply relative after:w-[1.5rem] after:h-[0.06rem] after:bg-black after:absolute after:bottom-[-0.1rem] after:left-[-0.5rem];
        font-size: toRem(14);
    }
}

.crowdWrapper {
    @apply py-12 w-full text-center;
}

.crowdTitle {
    @apply font-bold text-[2rem];
}

.crowdItemsContainer {
    @apply flex justify-center items-center gap-10 mt-10 px-4;

    >div {
        @apply fcol items-center gap-4;

        img {
            @apply object-cover size-full;
        }
    }
}