.mainWrapper {
    @apply p-5;
    margin-top: toRem(90);
}

.filterContainer {
    @apply flex justify-between;


    div {
        @apply flex items-center gap-3;
        font-size: toRem(13);
    }

    @media screen and (max-width: 992px) {
        .sort {
            @apply hidden
        }
    }
}

.productWrapper {
    @apply grid grid-cols-5 py-10;

    @media screen and (max-width: 992px) {
        @apply grid-cols-2;
    }

    @media screen and (max-width: 576px) {
        @apply grid-cols-1;
    }
}

.crowdWrapper {
    @apply py-12 w-full text-center;
}

.crowdTitle {
    @apply font-bold text-[2rem];
}

.crowdItemsContainer {
    @apply grid grid-cols-2 gap-10 mt-10;

    >div {
        @apply fcol gap-4;

        img {
            @apply object-cover size-full flex-1;
        }

        span {
            font-size: toRem(14);
        }
    }
}