.header {
  @apply p-3 px-6 flex justify-between items-center gap-5;
  border-bottom: toRem(1) solid rgba(0, 0, 0, 0.1);

  input::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  input,
  input:focus {
    font-size: toRem(16);
    color: black;
    height: toRem(35);
    outline: none
  }

  input {
    @apply w-full
  }

  svg {
    @apply size-[1.6rem]
  }
}

.suggestions {
  @apply text-black fcol gap-4 items-start justify-center p-5 px-7;

  &__header {
    @apply tracking-widest font-[600];
    font-size: toRem(12);
  }

  &__container {
    @apply flex gap-3 overflow-x-auto w-full;
  }

  &__item {
    @apply py-1 px-4 rounded-full uppercase font-[500] tracking-wide cursor-pointer;
    border: toRem(1) solid rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in;
    font-size: toRem(12);

    &:hover {
      @apply bg-black text-white
    }
  }

}

.footer {
  @apply h-[3rem] grid place-content-center bg-black text-white uppercase font-bold tracking-wider m-5;
  border-top: toRem(1) solid rgba(0, 0, 0, 0.1);
  font-size: toRem(12)
}

.productHeader {
  @apply w-full text-center py-4 tracking-wider self-start text-black;
  font-size: toRem(12);
}

.products {
  @apply px-5 overflow-y-auto fcol max-h-[39rem];
  border-bottom: toRem(1) solid rgba(0, 0, 0, 0.1);
}