
.email {
  @apply fcol gap-2;

  &__input {
    @apply pl-2 rounded-sm py-1;
    outline: toRem(1) solid rgba(0, 0, 0, 0.1);
    font-size: toRem(12);
    transition: 0.5s;

    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }

    &:focus {
      border: toRem(1) solid rgba(0, 0, 0, 1);
    }
  }
}

.address,
.apartment,
.phone input {
  @apply mt-5 w-full py-2 pl-1 rounded-sm;
  outline: toRem(1) solid rgba(0, 0, 0, 0.1);
  font-size: toRem(12);
}

.phone {
  @apply relative;

  svg {
    @apply absolute right-2 top-7;
  }
}

.delivery {
  @apply pt-4;
  font-size: toRem(14);
}


.region {
  @apply mt-4;
  font-size: toRem(14);
}

.region,
.delivery__selectContainer {
  @apply relative w-full border border-gray-500 rounded-sm px-1.5 bg-white border-none;
  outline: toRem(1) solid rgba(0, 0, 0, 0.1);

  label {
    @apply absolute top-0 text-xs uppercase text-gray-500 outline-none;
    font-size: toRem(10);
  }

  select {
    @apply w-full bg-white border-0 h-8 pt-2 outline-none;
    font-size: toRem(12);
  }
}

.twoInputs {
  @apply pt-5 flex gap-4;

  input {
    @apply w-full py-2 pl-1 rounded-sm;
    font-size: toRem(12);
    outline: toRem(1) solid rgba(0, 0, 0, 0.1);
  }
}

.email__checkbox {
  @apply flex items-center gap-2;
  font-size: toRem(12);
}