.mainWrapper {
  @apply container;
  margin-top: toRem(50);
}

.productWrapper {
  @apply my-5 grid gap-10;
  grid-template-columns: 1.5fr 1fr;

  @media screen and (max-width: 992px) {
    @apply grid-cols-1;
  }
}

.productImgContainer {
  @apply size-full;

  img {
    @apply size-full object-contain;
  }
}

.descriptionContainer {
  @apply items-start justify-start fcol;

  h1 {
    @apply mb-2;
    font-size: toRem(20);
    line-height: toRem(20);
    font-weight: 600;
  }

  .price {
    font-weight: 500;
    font-size: toRem(15);
    line-height: toRem(15);
  }

  .shipping {
    @apply mt-3;
    color: rgba(0, 0, 0, 0.75);
    font-size: toRem(12);
    line-height: toRem(12);
    font-weight: 500;

    span {
      @apply underline underline-offset-4;
    }
  }

  .description {
    @apply mt-10;
    font-weight: 500;
    font-size: toRem(12);
    line-height: toRem(12);
  }
}

.sizeContainer {
  @apply mt-2 flex gap-3;

  > span {
    font-size: toRem(12);
    line-height: toRem(12);
  }

  span:first-child {
    @apply font-[400];
  }

  span:last-child {
    @apply font-semibold capitalize;
  }
}

.variations {
  @apply flex items-center justify-center pb-4 pt-1;

  .variationItem {
    @apply relative w-[5rem] cursor-pointer py-2 text-center uppercase;
    font-size: toRem(10);
    line-height: toRem(10);
    border: toRem(1) solid rgba(0, 0, 0, 0.5);
    border-right: none;

    &:last-child {
      border-right: toRem(1) solid rgba(0, 0, 0, 0.5);
    }

    &.selected {
      @apply bg-black text-white;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.6;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: toRem(1);
        background-color: rgba(0, 0, 0, 0.5);
        transform: rotate(-17deg);
        transform-origin: center;
      }
    }
  }
}

.quantityContainer {
  @apply mt-5 flex w-full items-center justify-evenly gap-5;
}

.addMinusContainer {
  @apply flex h-8 w-20 select-none items-center justify-evenly gap-4;
  border: toRem(1) solid rgba(0, 0, 0, 1);
  font-size: toRem(12);

  svg {
    @apply size-3 cursor-pointer opacity-25;
  }
}

.addToCart {
  @apply flex h-8 flex-grow cursor-pointer select-none items-center justify-center font-bold uppercase;
  font-size: toRem(12);
  border: toRem(1) solid rgba(0, 0, 0, 1);
  transition:
    background-color 0.25s linear,
    color 0.25s linear;
}

.guideContainer {
  @apply mt-10 flex flex-wrap gap-4;

  div {
    @apply flex items-center justify-center gap-1;

    span {
      @apply cursor-pointer pl-1 underline underline-offset-4;
      font-size: toRem(12);
    }
  }
}

$highlight-color: #0070f3; // Highlight color variable
$disabled-color: #ccc; // Disabled color variable

.variationSelector {
  display: flex;
  flex-direction: column;
  align-items: center;

  .sizes,
  .colors {
    margin: 10px 0;

    button {
      margin: 0 5px;
      padding: 10px;
      cursor: pointer;
      border: none;
      border-radius: 4px;

      &.disabled {
        background-color: $disabled-color; // Grey background for unselected options
        color: #666; // Text color for disabled buttons
        cursor: not-allowed;
      }

      &.selected {
        background-color: $highlight-color;
        color: white; // Text color for selected state
      }
    }
  }
}
