.testimonial {
  @apply fcol gap-3  w-full p-3 px-4 shadow-2xl rounded-lg bg-white;
  > * {
    font-size: toRem(12);
  }

  &__header {
    @apply flex justify-between items-start gap-3 pb-2;

    img {
      @apply size-[2rem] object-cover rounded-full;
    }
  }
  &__headerTitle {
    @apply flex gap-2;

    div {
      @apply fcol;
      
      span:first-child {
        @apply text-violet-700 font-bold capitalize leading-3 overflow-hidden text-ellipsis whitespace-nowrap w-[8rem];
      }

      span:last-child {
        @apply text-[0.7rem] text-gray-500;
      }
    }
  }

  &__body {
    @apply text-start text-[1rem];
  }
  &__footer {
    @apply flex justify-between items-center text-gray-500;

    span:first-child {
      @apply underline underline-offset-4 tracking-wide;
    }
  }
}
